{% extends 'GivenchyEyelipBundle::index.html.twig' %} 
{% block title %}她竟然成为纪梵希大片女主啦？快来围观吧！{% endblock %}
{% block content %}
<img src="/images/share.jpg" class="share" width="100%" />


<div id="wechat_tips">
    <img src="/images/wechat_tips.png" />
</div>

<article class="dreambox">
    
    <!-- 自己的 -->
    <section class="page" id="myself">
        <div class="con">
            <a href="javascript:;" class="logo">
                <img src="/images/logo.png" width="100%" />
            </a>

            <div class="myVideo">
                <a href="javascript:_hmt.push(['_trackEvent', 'btn', '完成的作品播放按钮']);" id="play" class="play_ico"></a>
                <div class="myVideo_con"></div>
                <img src="/images/poster-{{video.style}}.jpg" id="videoposter" width="100%" />
            </div>

            <div class="writeFooter resultFooter">
                
                
                {% if ismy == 1 %}

                <a href="javascript:;" class="heart disabled">
                    {% if video.ballot == 0 %}
                    <img src="/images/heart.png" />
                    {% else %}
                    <img src="/images/heart-red.png" />
                    {% endif %}
                </a>
                <p id="ballotNum">"<em>{{video.ballot}}</em>"</p>
                <a href="{{ url('givenchy_eyelip_homepage') }}" onclick="_hmt.push(['_trackEvent', 'btn', '再玩一次']);" class="btn video_btn result_share_btn">
                    <img src="/images/share_btn.png" width="100%" />
                </a>

                {% else %}

                <a href="javascript:;" class="heart">
                    <img src="/images/heart.png" />
                </a>
                <p id="ballotNum">"<em>{{video.ballot}}</em>"</p>
                <a href="{{ url('givenchy_eyelip_homepage') }}" onclick="_hmt.push(['_trackEvent', 'btn', '我也要享受高级定制按钮'])" class="btn video_btn enjoy_btn">
                    <img src="/images/enjoy_btn.png" width="100%" />
                </a>

                {% endif %}
                

                

            </div>



        </div>
        <img src="/images/index_bg.jpg" width="100%" />
    </section>


</article>

<script type="text/javascript">
/*
* 智能机浏览器版本信息:
*
*/
var browser = {
versions: function() {
    var u = navigator.userAgent, app = navigator.appVersion;
    return {//移动终端浏览器版本信息 
        trident: u.indexOf('Trident') > -1, //IE内核
        presto: u.indexOf('Presto') > -1, //opera内核
        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
        mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
        iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
        iPad: u.indexOf('iPad') > -1, //是否iPad
        webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
    };
}(),
language: (navigator.browserLanguage || navigator.language).toLowerCase()
}
 

    if({{ismy}} == 1){
        setTimeout('$("#wechat_tips").show();$("#myself").show();',1600);
    }
    


    $("#wechat_tips").click(function(){
        $("#wechat_tips").hide();
    })

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return unescape(r[2]); return null;
    }

    var curvideoid = GetQueryString("id");
    //getVideoFun(jklink["getvideo"], curvideoid, _finfunc);


gv();

function gv(){

    var _w = function(selector,context){return(context||document).querySelector(selector)};
                
                var video  = $("video"),
                    domPrefixes = 'Webkit Moz O ms Khtml'.split(' ');


                var myVideo = document.createElement("video"); 
                myVideo.src = '/{{video.url}}';

                $(".myVideo_con").html(myVideo);


                eventTester = function(e){  
                      myVideo.addEventListener(e,function(){  
                                myVideo[fullscreenvideo]();
                            //myVideo.play();
                      });  
                }  

                if (browser.versions.ios || browser.versions.iPhone || browser.versions.iPad) {
                    
                }else if (browser.versions.android) {
                    eventTester("play");
                }
                
                    
                var fullscreen = function(elem) {
                    var prefix;
                    // Mozilla and webkit intialise fullscreen slightly differently
                    for ( var i = -1, len = domPrefixes.length; ++i < len; ) {
                      prefix = domPrefixes[i].toLowerCase();
                      
                      if ( elem[prefix + 'EnterFullScreen'] ) {
                        // Webkit uses EnterFullScreen for video
                        return prefix + 'EnterFullScreen';
                        break;
                      } else if( elem[prefix + 'RequestFullScreen'] ) {
                        // Mozilla uses RequestFullScreen for all elements and webkit uses it for non video elements
                        return prefix + 'RequestFullScreen';
                        break;
                      }
                    }
            
                    return false;
                };
                
                // Will return fullscreen method as a string if supported e.g. "mozRequestFullScreen" || false;
                var fullscreenvideo = fullscreen(document.createElement("video"));
                
                if(!fullscreen) {
                    alert("Fullscreen won't work, please make sure you're using a browser that supports it and you have enabled the feature");
                    return;
                }

                _w("#play").addEventListener("click", function(){
                    // The test returns a string so we can easily call it on a click event
                    //myVideo[fullscreenvideo]();
                    myVideo.play();
                }, false);


                myVideo.play();

}



$(".heart").click(function(){
    if($(this).hasClass("disabled"))return false;
    _hmt.push(['_trackEvent', 'btn', '点赞按钮']);
    $(this).addClass("disabled");
    ballotFun(jklink["ballot"], curvideoid);
})





</script>




{% endblock %}