{% extends '::base.html.twig' %}
{% block title %}你的纪梵希高定大片{% endblock %}
{% block head_style %}
{% stylesheets filter='cssrewrite' output="css/main.css"
	'%kernel.root_dir%/Resources/public/css/reset.css'
    '@GivenchyEyelipBundle/Resources/public/css/swiper.min.css'
    '@GivenchyEyelipBundle/Resources/public/css/style.css'
    '@GivenchyEyelipBundle/Resources/public/css/video-js.css'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block head_scripts %}
{% javascripts output="js/main.js"
    '%kernel.root_dir%/Resources/public/js/jquery.js'
    '%kernel.root_dir%/Resources/public/js/tweenMax.min.js'
    '@GivenchyEyelipBundle/Resources/public/js/swiper.min.js'
    '@GivenchyEyelipBundle/Resources/public/js/lrz.all.bundle.js'
    '@GivenchyEyelipBundle/Resources/public/js/touch.js'
    '@GivenchyEyelipBundle/Resources/public/js/wxmoment.min.js'
    '@GivenchyEyelipBundle/Resources/public/js/connector.js'
    '@GivenchyEyelipBundle/Resources/public/js/main.js'
    '@GivenchyEyelipBundle/Resources/public/js/tvp.player_v2.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<div class="uploadloading"></div>
<!-- 横屏代码 -->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>

<script type="text/javascript">
    /* 生成视频 */
    var jklink = {
        "upload" : "{{ url('givenchy_eyelip_api_upload') }}",
        "getvideo" : "{{ url('givenchy_eyelip_api_getvideo') }}",
        "ballot" : "{{ url('givenchy_eyelip_api_ballot') }}",
        "info" : "{{ url('givenchy_eyelip_api_info') }}",
        "store" : "{{ url('givenchy_eyelip_api_store') }}",
        "lottery" : "{{ url('givenchy_eyelip_api_lottery') }}",
        "check" : "{{ url('givenchy_eyelip_api_check') }}",
        "tzlink" : "{{ url('givenchy_eyelip_result') }}"
    }




    $.fn.extend({          
        pupOpen:function() {  
            $(".pupcon").hide();        
            $("#pupbg").fadeIn();
            $(this).show();     
        },
        pupClose:function() {  
            $("#pupbg").hide();  
            $(".pupcon").hide();         
        },
        pupInfo:function(infoImg){
            var proUrl = $(this).attr("data-pro");
            $(infoImg).attr("src", proUrl);
        }     
    });  

    function changePage(curpage, cpfun){
        $(".page").hide();
        $("#"+curpage).fadeIn();
        if(cpfun){
            cpfun()
        };
    }
    
    /* 横屏 js */

    function orientationChange() {
    switch(window.orientation) {
    　　case 0:
    document.getElementById('orientLayer').style.display="none";
    break;
    　　case -90:
    document.getElementById('orientLayer').style.display="block";
    break;
    　　case 90:
    document.getElementById('orientLayer').style.display="block";
    break;
    　　case 180:
    　　document.getElementById('orientLayer').style.display="none";
    　　break;
    };

    };


    addEventListener('load', function(){
        orientationChange();
        window.onorientationchange = orientationChange;
    });

</script>




{% endblock %}